:root {
  --bg-gray: #4e4e4e;
  --bg-white: #f1f1f1;
  --bg-blue: #405d78;
  --main-font: "Roboto", sans-serif;
  --new-service: #e07a64;
  --new-service-rgba70: rgb(224, 122, 100, 0.7);
  --new-service-rgba0: rgb(224, 122, 100, 0);
  --main-width: 100%;
  --main-container: 960px;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yankees-blue: #152d41;
  --overlay: rgba(0, 0, 0, 0.35);
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
}

.container {
  padding: 0 14px;
  margin: 0 auto;
}

.header {
  background-color: var(--bg-gray);
  height: 50px;
  width: var(--main-width);
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  height: 50px;
}
.header-logo a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 700;
}

.main-nav {
  display: none;
}

.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  width: var(--main-width);
  height: calc(100vh - 50px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.bg-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: var(--overlay);
}
.hero-container {
  display: flex;
  align-items: center;
  position: relative;
  height: calc(100vh - 50px);
  z-index: 3;
}

.hero-text {
  width: 80%;
}

.hero-h3 {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 62px;
}
.hero-p {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 56px;
}

.hero-btn {
  color: var(--color-white);
  text-decoration: none;
  border: 3px solid var(--color-white);
  padding: 14px 58px;
  font-weight: 700;
  background-color: transparent;
  transition: color 1s, background-color 1s;
}

.footer {
  background-color: var(--bg-gray);
  width: var(--main-width);
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 147px;
}

.footer-text {
  color: var(--color-white);
  text-align: center;
}

.footer-icon {
  display: flex;
  margin-top: 15px;
}
.icon-item {
  margin-right: 18px;
  font-size: 31px;
}

.icon-item:nth-last-child() {
  margin-right: 0;
}

.icon-link {
  color: var(--color-white);
}

.section-padding {
  padding: 51px 0 68px;
}

.bg1 {
  background-color: var(--bg-white);
}
.bg2 {
  background-color: var(--bg-blue);
}

.section-title {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-yankees-blue);
  margin-bottom: 50px;
  text-align: center;
}

.about-us {
  width: var(--main-width);
  margin: 0 auto;
}

.expert {
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expert:last-child {
  margin-bottom: 0;
}

.expert-img {
  background-color: var(--bg-blue);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 197px;
  aspect-ratio: 1 / 1;
  margin-bottom: 56px;
}
.expert-1 {
  background-image: url("../images/expert1.jpg");
}
.expert-2 {
  background-image: url("../images/expert2.jpg");
}

.expert-text {
  width: 100%;
}

.expert-name {
  font-weight: 700;
  margin-bottom: 20px;
}

.offer {
  width: var(--main-width);
  margin: 0 auto;
}

.list-services {
  margin: 0 auto;
  padding: 0 52px;
  display: flex;
  flex-wrap: wrap;
}
.service {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-white);
  position: relative;
  transform: scale(1);
  transition: all 0.5s;
  margin-bottom: 36px;
}
.service:last-child {
  margin-bottom: 0;
}

.service-title {
  font-size: 24px;
}
.service-new {
  font-size: 18px;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 var(--new-service-rgba70);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px var(--new-service-rgba0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 var(--new-service-rgba0);
  }
}

.service-dot {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--new-service);
  position: absolute;
  z-index: 1;
  top: -11px;
  left: -11px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: scale(1);
  animation: pulse 2s infinite;
}

.color-white {
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .header-container {
    justify-content: space-between;
  }
  .main-nav {
    display: flex;
    align-items: center;
    height: 50px;
  }
  .nav-item {
    margin-right: 46px;
  }
  .nav-item:last-child {
    margin-right: 0;
  }

  .nav-item a {
    color: var(--color-white);
    text-decoration: none;
  }

  .disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.6;
    text-decoration: none;
  }
  .hero-text {
    width: 65%;
  }
  .list-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
  }
  .service {
    margin-bottom: 0;
  }

  .expert {
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .expert-img {
    margin-right: 60px;
    margin-bottom: 0;
  }

  .expert:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
  }

  .expert:nth-child(even) .expert-img {
    margin-right: 0;
    margin-left: 60px;
  }
  .expert-text {
    width: calc(100% - 197px);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: var(--main-container);
    padding: 0;
  }
  .hero-btn:hover {
    background-color: var(--color-white);
    border: 3px solid var(--color-white);
    color: var(--color-black);
    transition: all 1s;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    height: 71px;
  }

  .footer-icon {
    display: flex;
    align-items: center;
    height: 71px;
    margin: 0;
  }

  .section-title {
    font-size: 36px;
    margin-bottom: 78px;
    text-align: left;
  }

  .list-services {
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 48px;
    column-gap: 0;
  }
  .service {
    width: 198px;
    height: 194px;
    margin-bottom: 0;
  }

  .service:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .service-title {
    font-size: 24px;
  }
  .service-new {
    font-size: 18px;
  }
}
